# Análise Exploratória de Dados

### Neste notebook usaremos uma pesquisa recente nos EUA sobre o mercado de trabalho para programadores de software. Nosso objetivo é fazer uma investigação inicial dos dados a fim de detectar problemas com os dados, necessidade de mais variáiveis, falhas  na organização e necessidads de tranformação.

### Pesquisa Salarial realizada pelo site https://www.freecodecamp.com/ com programadores do software nos EUA que frequentam treinamentos Bootcamp.

In [1]:
# Importando os pacotes
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import colorsys
plt.style.use('seaborn-talk')
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [3]:
# Carregando o dataset
df = pd.read_csv("Dados-Pesquisa.csv", sep = ',', low_memory=False)

In [4]:
print(df.head())

    Age  AttendedBootcamp  BootcampFinish  BootcampFullJobAfter  \
0  28.0               0.0             NaN                   NaN
1  22.0               0.0             NaN                   NaN
2  19.0               0.0             NaN                   NaN
3  26.0               0.0             NaN                   NaN
4  20.0               0.0             NaN                   NaN

   BootcampLoanYesNo  BootcampMonthsAgo BootcampName  BootcampPostSalary  \
0                NaN                NaN          NaN                 NaN
1                NaN                NaN          NaN                 NaN
2                NaN                NaN          NaN                 NaN
3                NaN                NaN          NaN                 NaN
4                NaN                NaN          NaN                 NaN

   BootcampRecommend  ChildrenNumber  ... ResourceSoloLearn  \
0                NaN             NaN  ...               NaN
1                NaN             NaN  ...               NaN
2                NaN             NaN  ...               NaN
3                NaN             NaN  ...               NaN
4                NaN             NaN  ...               NaN

   ResourceStackOverflow  ResourceTreehouse  ResourceUdacity  ResourceUdemy  \
0                    NaN                NaN              NaN            NaN
1                    NaN                NaN              NaN            1.0
2                    NaN                NaN              NaN            NaN
3                    NaN                NaN              NaN            NaN
4                    NaN                NaN              NaN            NaN

   ResourceW3Schools  ResourceYouTube  \
0                NaN              NaN
1                NaN              NaN
2                NaN              NaN
3                NaN              NaN
4                NaN              NaN

                              SchoolDegree              SchoolMajor  \
0           some college credit, no degree                      NaN
1           some college credit, no degree                      NaN
2  high school diploma or equivalent (GED)                      NaN
3                        bachelor's degree  Cinematography And Film
4           some college credit, no degree                      NaN

   StudentDebtOwe
0         20000.0
1             NaN
2             NaN
3          7000.0
4             NaN

[5 rows x 113 columns]

In [5]:
df

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15615,39.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,bachelor's degree,Chemistry,NaN
15616,27.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,bachelor's degree,Electrical Engineering,NaN
15617,37.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Chemistry,NaN
15618,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,master's degree (non-professional),Math,NaN
15619,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Graphic Design,40000.0

In [6]:
print(df.describe())

                Age  AttendedBootcamp  BootcampFinish  BootcampFullJobAfter  \
count  13613.000000      15380.000000      933.000000            635.000000
mean      29.175714          0.061964        0.689175              0.584252
std        9.017580          0.241097        0.463080              0.493239
min       10.000000          0.000000        0.000000              0.000000
25%       23.000000          0.000000        0.000000              0.000000
50%       27.000000          0.000000        1.000000              1.000000
75%       33.000000          0.000000        1.000000              1.000000
max       86.000000          1.000000        1.000000              1.000000

       BootcampLoanYesNo  BootcampMonthsAgo  BootcampPostSalary  \
count         934.000000         631.000000          330.000000
mean            0.332976           9.055468        63740.506061
std             0.471531          12.968035        26347.200265
min             0.000000           0.000000         6000.000000
25%             0.000000           3.000000        50000.000000
50%             0.000000           6.000000        60000.000000
75%             1.000000          12.000000        77000.000000
max             1.000000         220.000000       200000.000000

       BootcampRecommend  ChildrenNumber  CodeEventBootcamp  ...  \
count         937.000000     2554.000000               42.0  ...
mean            0.785486        1.896241                1.0  ...
std             0.410704        1.115975                0.0  ...
min             0.000000        0.000000                1.0  ...
25%             1.000000        1.000000                1.0  ...
50%             1.000000        2.000000                1.0  ...
75%             1.000000        2.000000                1.0  ...
max             1.000000       18.000000                1.0  ...

       ResourceReddit  ResourceSkillCrush  ResourceSoloLearn  \
count            29.0                36.0               30.0
mean              1.0                 1.0                1.0
std               0.0                 0.0                0.0
min               1.0                 1.0                1.0
25%               1.0                 1.0                1.0
50%               1.0                 1.0                1.0
75%               1.0                 1.0                1.0
max               1.0                 1.0                1.0

       ResourceStackOverflow  ResourceTreehouse  ResourceUdacity  \
count                  191.0              422.0           3306.0
mean                     1.0                1.0              1.0
std                      0.0                0.0              0.0
min                      1.0                1.0              1.0
25%                      1.0                1.0              1.0
50%                      1.0                1.0              1.0
75%                      1.0                1.0              1.0
max                      1.0                1.0              1.0

       ResourceUdemy  ResourceW3Schools  ResourceYouTube  StudentDebtOwe
count         4130.0              121.0            121.0     3514.000000
mean             1.0                1.0              1.0    34556.143711
std              0.0                0.0              0.0    54423.139781
min              1.0                1.0              1.0        0.000000
25%              1.0                1.0              1.0    10000.000000
50%              1.0                1.0              1.0    20000.000000
75%              1.0                1.0              1.0    40000.000000
max              1.0                1.0              1.0  1000000.000000

[8 rows x 85 columns]

In [ ]:
# 04:13