# Números e Operações Matemáticas

In [ ]:
# soma
4 + 4

In [ ]:
#subtração
4 - 3

In [ ]:
# divisão 
3 / 2

In [ ]:
# Potência
4 ** 2

In [ ]:
# Módulo
10 % 3

## Função Type

In [ ]:
type(5)

In [ ]:
type(5.0)

In [ ]:
a = 'Eu sou uma string'
type(a)

## Operações com números float

In [ ]:
3.1 + 6.4

In [ ]:
4 + 4.0

In [ ]:
4 + 4

In [ ]:
# Resultado é um número float
4 / 2

In [ ]:
# Resultato é um número inteiro por causa da duas  barras
4 // 2

In [ ]:
4 /  3.0

In [ ]:
4 // 3.0

## Conversão

In [ ]:
float(9)

In [ ]:
int(6.0)

In [ ]:
int(6.5)

## Hexadecimal e Binário

In [ ]:
hex(394)

In [ ]:
hex(217)

In [ ]:
bin(286)

In [ ]:
bin(390)

## Funções abs, round e pow

In [ ]:
# Retorna o valor absoluto
abs(-8)

In [ ]:
# Retorna o valor absoluto
abs(8)

In [ ]:
#retorna o valor com arrendondamento
round(3.14151922,2)

In [ ]:
# Potência
pow(4,2)

In [ ]:
# Potência
pow(5,3)

## Fim

# Variáveis e Operadores

In [ ]:
# Atribuindo o valor 1 à variável var_teste
var_teste = 1

In [ ]:
# Imprimindo o valor da variável
var_teste

In [ ]:
# Imprimindo o valor da variável
print(var_teste)

In [ ]:
# Não podemos utilizar uma variável que não foi definida. Veja a mensagem de erro.
my_var

In [ ]:
var_teste = 2

In [ ]:
var_teste

In [ ]:
type(var_teste)

In [ ]:
var_teste = 9.5

In [ ]:
type(var_teste)

In [ ]:
x = 1

In [ ]:
x

## Declaração Múltipla

In [ ]:
pessoa1, pessoa2, pessoa3 = "Maria", "José", "Tobias"

In [ ]:
pessoa1

In [ ]:
pessoa2

In [ ]:
pessoa3

In [ ]:
fruta1 = fruta2 = fruta3 = "Laranja"

In [ ]:
fruta1

In [ ]:
fruta2

## Pode-se usar letras, números e under_line (mas não se pode começar com números)

In [ ]:
x1 = 50

In [ ]:
x1

In [ ]:
# Mensagem de erro, pois o Python não permite nomes de variáveis que iniciem com números
1x = 50

## Não se pode usar palavras reservadas como nome de variável

## False

## class

## finally

## is

## etc

In [ ]:
# Não podemos usar palavras reservadas como nome de variavel
break = 1

## Variáveis atribuídas a outras variáveis e ordem de operadores

In [ ]:
largura = 2

In [ ]:
altura = 4

In [ ]:
area = largura * altura

In [ ]:
area

In [ ]:
perimetro = 2 * largura + 2 * altura

In [ ]:
perimetro

In [ ]:
# A ordem dos operadores é a mesma seguinda na Matemática
perimetro = 2 * (largura + 2) * altura

In [ ]:
perimetro

## Operações com variáveis

In [ ]:
idade1 = 25

In [ ]:
idade2 = 35

In [ ]:
idade1 + idade2

In [ ]:
idade2 - idade1

In [ ]:
idade2 * idade1

In [ ]:
idade2 / idade1

In [ ]:
# % é para encontra o resto da divisão
idade2 % idade1

## Contatenação de Variáveis

In [ ]:
nome = "Steve"

In [ ]:
sobrenome = "Jobs"

In [ ]:
fullName = nome + " " + sobrenome

In [ ]:
fullName

## Fim

# Strings

## Criando uma String
Para criar uma string em Python você pode usar aspas simples ou duplas. Por Exemplo:

In [ ]:
# Uma única palavra
'Oi'

In [ ]:
# Uma frase
'Criando um string em Python'

In [ ]:
# Podemos usar aspas duplas
"Podemos usar asplas duplas ou simples para Strings em Python"

In [ ]:
# Você pode combinar asplas duplas e simples
"Testando Strings em 'Python'"

## Imprimindo uma String

In [ ]:
print('Testando Strings em Python')

In [ ]:
print('Testando \n Strings \n em \n Python')

In [ ]:
print('\n')

## Indexando String

In [26]:
# Atribuindo uma String
s = 'Data Science Academy'

In [27]:
print(s)

Data Science Academy

In [28]:
# Primeiro elemento da String

In [29]:
s[0]

'D'

In [30]:
s[1]

'a'

In [31]:
s[2]

't'

Podemos usar um : para executar um slicing que faz leitura de até um ponto designado. Por exemplo:

In [32]:
# Retorna todos os elementos da String, começando pela posição (Lembra-se que o Python começa a indexação pela posição 0),
# até o fim da string.
s[1:]

'ata Science Academy'

In [33]:
# A string original permanece inalterado
s

'Data Science Academy'

In [34]:
# Retorna tudo até a posição 3 exclusivo
s[:3]

'Dat'

In [ ]:
s[:]

In [ ]:
# Nós também podemos usar a indexação negativa e ler de trás para frente
s[-1]

In [ ]:
# Retonar tudo, exceto a última letra
s[:-1]

Nós também podemos usar a notação de índice a fatiar a string em pedaços específicos ( o padrão é 1). Por exemplo, podemos usar dois pontosduas vezes em uma linha, em seguida, um números que especifica a frequência para retornar elementos. Por exemplo:

In [ ]:
s[::1]

In [ ]:
s[::2]

In [ ]:
s[::-1]

## Propriedades de Strings

In [ ]:
s

In [ ]:
# Alterando um caracter
s[0] = 'x'

In [ ]:
# Contatenando strings
s +' é a melhor maneira de estar preparando para o mercado de trabalho em Ciência de Dados!'

In [ ]:
s = s + ' é a melhor  maneira de estar preparado para o mercado de trabalho em Ciência de Dados!'

In [ ]:
print(s)

In [ ]:
#  Podemos usar o símbolo de multiplicação para criar a repetição!
letra = 'w'

In [ ]:
letra * 3

## Funções Built-in de Strings

In [ ]:
s

In [ ]:
# Upper Case
s.upper()

In [ ]:
# Lower Case
s.lower()

In [ ]:
# Dividir uma string por espaçosem branco(padrão)
s.split()

In [ ]:
# Dividir uma string por um elemento específico
s.split('y')

## Funções String

In [ ]:
s = 'seja bem vindo ao universo de python'

In [ ]:
s.capitalize()

In [ ]:
s.count('a')

In [ ]:
s.find('p')

In [ ]:
s.islower()

In [ ]:
s.isspace()

In [ ]:
s.endswith('0')

## Comparando Strings

In [ ]:
print("Python" == "R")

In [ ]:
print("Python" == "Python")

# Fim

# Lista

In [ ]:
# Criando uma Lista
listadomercado = ["ovo, farinha, leite, maças"]

In [ ]:
# Imprimindo a Lista
print(listadomercado)

In [ ]:
# Criando outra Lista
listadomercado2 = ["ovos","farinha", "leite", "maças"]

In [ ]:
# Imprimindo a Lista
print(listadomercado2)

In [ ]:
listadomercado[0]

In [ ]:
listadomercado2[0]

In [ ]:
# Criando Lista
lista3 = [12,100, "Universidade"]

In [ ]:
# Imprimindo
print(lista3)

In [ ]:
# Atribuindo cada valor da lisa a uma variável.
item1 = lista3[0]
item2 = lista3[1]
item3 = lista3[2]

In [ ]:
# Imprindo as variáveis
print(item1, item2, item3)

## Atualizando um item da lista

In [ ]:
# Imprimindo um item da lista
listadomercado2[2]

In [ ]:
# Atualizando um item da Lista
listadomercado2[2] = "chocolate"

In [ ]:
# Imprimindo Lista Alterada
listadomercado2

## Deletando um item da lista

In [ ]:
# Out of index. Não é possivel deletarum item que não existe na lista
del listadomercado[4]

In [ ]:
# Deletando um item específico da Lista
del listadomercado2[3]

In [ ]:
# Imprimindo o item com a Lista Alterada
listadomercado2

## Listas de listas (Listas Aninhadas)
Lista de listas são matrizes em Python

In [ ]:
# Criando uma Lista de Listas
listas = [[1,2,3],[10,15,14],[10.1,8.7,2.3]]

In [ ]:
# Imprimindo a lista
listas

In [ ]:
# Atribuindo um item da Lista a uma variável
a = listas[0]

In [ ]:
a

In [ ]:
b = a[0]

In [ ]:
b

In [ ]:
list1 = listas[1]

In [ ]:
list1

In [ ]:
valor_1_0 = list1[0]

In [ ]:
valor_1_0

In [ ]:
valor_1_2 = list1[2]

In [ ]:
valor_1_2

In [ ]:
list2 = listas[2]

In [ ]:
list2

In [ ]:
valor_2_0 = list2[0]

In [ ]:
valor_2_0

## Operações com listas

In [ ]:
# Criando uma lista aninhada (Listas de Listas)
listas = [[1,2,3], [10,15,14],[10.1,8.7,2,3]]

In [ ]:
listas

In [ ]:
# Atribuindo à variável a, o primeiro valor da primeira lista
a = listas[0][0]

In [ ]:
a

In [ ]:
b = listas[1][2]

In [ ]:
b

In [ ]:
c = listas[0][2] + 10

In [ ]:
c

In [ ]:
d = 10

In [ ]:
e = d * listas[2][0]

In [ ]:
e

## Concatenando listas

In [ ]:
lista_s1 = [34, 32, 56]

In [ ]:
lista_s1

In [ ]:
lista_s2 = [21, 90, 51]

In [ ]:
lista_s2

In [ ]:
# Concatenando Listas
lista_total = lista_s1 + lista_s2

In [ ]:
lista_total

## Operador in

In [ ]:
# Criando uma lista
lista_teste_op = [100, 2, -5, 3.4]

In [ ]:
# Verificando se o valor 10 pertence a lista
print(10 in lista_teste_op)

In [ ]:
# Verificando se o valor 100 pertence a lista
print(100 in lista_teste_op)

## Funções Built-in

In [ ]:
# Função Len() retorna o comprimento da Lista
len(lista_teste_op)

In [ ]:
# Função max() retorna o valor máximo da Lista
max(lista_teste_op)

In [ ]:
# Função min() retorna o valor mínimo da Lista
min(lista_teste_op)

In [ ]:
# Criando uma lista
listadomercado2 = ["ovos", "farinha", "leite", "maças"]

In [ ]:
# Adicionado um item à Lista
listadomercado2.append("carne")

In [ ]:
listadomercado2

In [ ]:
listadomercado2.append("carne")

In [ ]:
listadomercado2

In [ ]:
listadomercado2.count("carne")

In [ ]:
# Criando uma Lista vazia
a = []

In [ ]:
print(a)

In [ ]:
type(a)

In [ ]:
a.append(10)

In [ ]:
a

In [ ]:
a.append(50)

In [ ]:
a

In [ ]:
old_list = [1,2,5,10]

In [ ]:
new_list = []

In [ ]:
# Copiando os itens de uma Lista para outra
for item in old_list:
    new_list.append(item)

In [ ]:
new_list

In [ ]:
c = [20,30]

In [ ]:
c.append(60)

In [ ]:
c.append(70)

In [ ]:
c

In [ ]:
c.count(20)

In [ ]:
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'Palmas'])
print(cidades)

In [ ]:
cidades.index('Salvador')

Lembra-se: em Python o índice começa por 0!

In [ ]:
cidades.index('Rio de Janeiro')

In [ ]:
cidades

In [ ]:
cidades.insert(2, 110)

In [ ]:
cidades

In [ ]:
# Remove um item da Lista
cidades.remove(110)

In [ ]:
# Imprime a Lista
cidades

In [ ]:
# Reverte a Lista
cidades.reverse()

In [ ]:
# Imprime a Lista
cidades

In [ ]:
x = [3, 4, 2, 1 ]

In [ ]:
x

In [ ]:
# Ordena a Lista
x.sort()

In [ ]:
x

# Fim

# Dicionários

In [ ]:
# Isso é uma Lista
estudantes_lst = ["Mateus", 24, "Fernanda", 22, "Tamires", 26, "Cristiano", 25]

In [ ]:
estudantes_lst

In [ ]:
# Isso é um dicionário
estudantes_dict = {"Matheus":24, "Fernanda":22, "Tamires":26, "Cristiano":25}

In [ ]:
estudantes_dict

In [ ]:
estudantes_dict["Matheus"]

In [ ]:
estudantes_dict["Pedro"] = 23

In [ ]:
estudantes_dict["Pedro"]

In [ ]:
estudantes_dict["Tamires"]

In [ ]:
estudantes_dict

In [ ]:
estudantes_dict.clear()

In [ ]:
estudantes_dict

In [ ]:
del estudantes_dict

In [ ]:
estudantes_dict

In [ ]:
estudantes = {"Matheus": 24, "Fernanda":22, "Tamires":26, "Cristiano":25}

In [ ]:
estudantes

In [ ]:
len(estudantes)

In [ ]:
estudantes.keys()

In [ ]:
estudantes.values()

In [ ]:
estudantes.items()

In [ ]:
estudantes2 = {"Maria":27, "Erika":28, "Milton":26}

In [ ]:
estudantes2

In [ ]:
estudantes.update(estudantes2)

In [ ]:
estudantes

In [ ]:
len(estudantes)

In [ ]:
dic1 = {}

In [ ]:
dic1

In [ ]:
dic1["key_one"] = 2

In [ ]:
print(dic1)

In [ ]:
dic1[10] = 5

In [ ]:
dic1

In [ ]:
dic1[8.2] = "Python"

In [ ]:
dic1

In [ ]:
dic1["teste"] = 5

In [ ]:
dic1

In [ ]:
dict1 = {}

In [ ]:
dict1

In [ ]:
dict1["teste"] = 10

In [ ]:
dict1["key"] = "teste"

In [ ]:
# Atenção, pois chave e valor podem ser iguais, mas representam coisas diferentes
dict1

In [ ]:
dict2 = {}

In [ ]:
dict2["key1"] = "Big Data"

In [ ]:
dict2["key2"] = 10

In [ ]:
dict2["key3"] = 5.6

In [ ]:
dict2

In [ ]:
a = dict2["key1"]

In [ ]:
b = dict2["key2"]

In [ ]:
c = dict2["key3"]

In [ ]:
a, b, c

In [ ]:
# Dicionário de Listas
dict3 = {'key1':1230, 'key2':[22,453,73.4], 'key3':['leite', 'maça', 'batata']}

In [ ]:
dict3

In [ ]:
dict3['key2']

In [ ]:
# Acessando um item da Lista, dentro do dicionário
dict3['key3'][0].upper()

In [ ]:
# Operações com itens da Lista dentro do dicionário
var1 = dict3['key2'][0]-2

In [ ]:
var1

In [ ]:
# Duas operações no mesmo comando, para atualizar um item dentro da Lista
dict3['key2'][0] -=2

In [ ]:
dict3

## Criando Dicionários Aninhados

In [ ]:
# Criando dicionário aninhados
dict_aninhado = {'key1': {'key2_aninhada':{'key3_aninhada': 'Dict aninhado em Python'}}}

In [ ]:
dict_aninhado

In [ ]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

# Fim

# Tuplas

In [1]:
# Criando umatupla
tupla1 = ("Geografia", 23, "Elefantes")

In [2]:
# Imprimindo a tupla
tupla1

('Geografia', 23, 'Elefantes')

In [3]:
# Tuplas  não suportam append(
tupla1.append("Chocolate")

AttributeError: 'tuple' object has no attribute 'append'

In [4]:
# Tuplas não suportam delete de um item específico
del tupla1["Geografia"]

TypeError: 'tuple' object does not support item deletion

In [5]:
# Tuplas podem ter um único item
tupla1 = ("Chocolate")

In [6]:
tupla1

'Chocolate'

In [16]:
tupla1 = ("Geografia", 23, "Elefantes")

In [8]:
tupla1[0]

'Geografia'

In [9]:
# Verificando o comprimaneto da tupla
len(tupla1)

3

In [12]:
# Slicing, da mesma forma que se faz com a Listas
tupla1[1:]

(23, 'Elefantes')

In [13]:
tupla1.index('Elefantes')

2

In [14]:
# Tuplas não suportam atribuição de item
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [18]:
# Deletando a tupla
del tupla1

In [19]:
tupla1

NameError: name 'tupla1' is not defined

In [21]:
# Criando uma tupla
t2 = ('A', 'B', 'C')

In [22]:
t2

('A', 'B', 'C')

In [23]:
# Tuplas não suportam atribuição de item
t2[0] = 'D'

TypeError: 'tuple' object does not support item assignment

In [24]:
# Usando a função list() para converter uma tupla para Lista
lista_t2 = list(t2)

In [25]:
lista_t2

['A', 'B', 'C']

In [26]:
lista_t2.append('D')

In [27]:
# Usando a função tuple() para converter uma Lista para tupla
t2 = tuple(lista_t2)

In [28]:
t2

('A', 'B', 'C', 'D')

# Fim

# Exercícios

In [2]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.8.8

## Exercícios Cap02

In [3]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
lista = [1,2,3,4,5,6,7,8,9,10]

In [4]:
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
lista2 = [1,2,3,4,5]

In [6]:
lista2

[1, 2, 3, 4, 5]

In [7]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
a = 'String 01'

In [8]:
b = 'String 02'

In [9]:
a, b

('String 01', 'String 02')

In [10]:
c = a + " - " + b

In [11]:
c

'String 01 - String 02'

In [12]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tupla = (1, 2, 2, 3, 4, 4, 4, 5)

In [13]:
tupla

(1, 2, 2, 3, 4, 4, 4, 5)

In [14]:
tupla.count(4)

3

In [15]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
dict = {}

In [16]:
dict

{}

In [17]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dict2 = {"key1":1, "key2":2, "key3":3}

In [18]:
dict2

{'key1': 1, 'key2': 2, 'key3': 3}

In [19]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
dict2["key4"] = "teste"

In [20]:
dict2

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 'teste'}

In [21]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.
dict3 = { "key1":1, "key2": 'teste', "key3":[1,2]}

In [22]:
dict3

{'key1': 1, 'key2': 'teste', 'key3': [1, 2]}

In [23]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dicionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.
lista = ['texto', (1,2),{"key1":1,"key2":2},10.2]

In [24]:
lista

['texto', (1, 2), {'key1': 1, 'key2': 2}, 10.2]

In [25]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [35]:
frase[:18]

'Cientista de Dados'

# Fim

# Condicionais

## Condicional IF

In [1]:
# Condicional if
if 5 > 2:
    print("Python funciona!")

Python funciona!

In [2]:
# Statement If ... Else
if 5 < 2:
    print("Python funciona")
else:
    print("Algo está errado!")

Algo está errado!

In [3]:
6 > 3

True

In [4]:
3 > 7

False

In [5]:
4 < 8

True

In [6]:
4 >= 4

True

In [7]:
if 5 == 5:
    print("Testando Python!")

Testando Python!

In [8]:
if True:
    print('Parece que Python funciona!')

Parece que Python funciona!

In [9]:
# Atenção com a sintaxe
if 4 > 3
    print("Tudo funciona!")

SyntaxError: invalid syntax (<ipython-input-9-8ee0e161c41f>, line 2)

In [11]:
# Atenção com a sintaxe
if 4 > 3:
print("Tudo funciona!")

IndentationError: expected an indented block (<ipython-input-11-f919ae27c9f2>, line 3)

## Condicionais Aninhados

In [1]:
idade = 18
if idade > 17:
    print("Você pode dirigir")

Você pode dirigir

In [2]:
Nome = "Bob"
if idade > 13:
    if Nome == "Bob":
        print("Ok Bob, você está autorizado a entrar!")
    else:
        print("Desculpe, mas você não pode entrar!")

Ok Bob, você está autorizado a entrar!

In [3]:
idade = 13
Nome = "Bob";
if idade >= 13 and Nome == "Bob":
    print("Ok Bob, você está autorizado a entrar!")

Ok Bob, você está autorizado a entrar!

In [4]:
idade = 12
Nome = "Bob"
if (idade >= 13) or (Nome == "Bob"):
    print("Ok, Bob você esta autorizado a entrar!")

Ok, Bob você esta autorizado a entrar!

## Elif

In [5]:
dia = "Terça"
if dia == "Segunda":
    print("Hoje fará sol!")
else:
    print("Hoje vai chover!")

Hoje vai chover!

In [6]:
if dia == "Segunda":
    print("Hoje fará sol!")
elif dia == "Terça":
    print("Hoje vai chover!")
else: 
    print("Sem previsão do tempo para o dia selecionado")

Hoje vai chover!

## Operadores Lógicos

In [1]:
idade = 18
nome = "Bob"
if idade > 17:
    print("Você pode Dirigir!")

Você pode Dirigir!

In [2]:
idade = 18
if idade > 17 and nome == "Bob":
    print("Autorizado!")

Autorizado!

In [3]:
# Usando mais de uma condição na cláusula if

disciplina = input('Digite o nme da disciplina: ')
nota_final = input('Digite a nota final ( entre 0 a 100): ')

if disciplina == 'Geografia' and nota_final >= '70':
    print('Você foi aprovado!')
else:
    print('Lamento, acho que  você recisa estudar mais!')

Digite o nme da disciplina: Geografia
Digite a nota final ( entre 0 a 100): 70
Você foi aprovado!

In [5]:
# Usaando mais uma condição na cláusula if e introduzindo Placeholders

disciplina = input('Digit o nome da disciplina: ')
nota_final = input('Digite a nota final (entre 0 e 100): ')
semetre = input('Digite o semestre (1 a 4): ')

if disciplina == 'Geografia' and nota_final >= '50' and int(semetre) != 1:
    print('Você foi aprovado em %s com média final %r!' %(disciplina, nota_final))
else:
    print('Lamento, acho que você precisa estudar mais!')

Digit o nome da disciplina: Geografia
Digite a nota final (entre 0 e 100): 70
Digite o semestre (1 a 4): 2
Você foi aprovado em Geografia com média final '70'!

# Fim

# Loop For

In [1]:
# Criando uma tupla e imprimindo cada um dos valores
tp = (2,3,4)
for i in tp:
    print(i)

2
3
4

In [3]:
# Criando uma lista e imprimindo cada um dos valores
ListaDoMercado = ["Leite","Frutas", "Carnes"]
for i in ListaDoMercado:
    print(i)

Leite
Frutas
Carnes

In [4]:
# Imprimindo os valores no intervalo entre 0 e 5 (exclusive)
for contador in range(0,5):
    print(contador)

0
1
2
3
4

In [6]:
# Imprimindo na tela os números pares da lista de números
lista = [1,2,3,4,5,6,7,8,9,10]
for num in lista:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [8]:
## Listando os números no intrvalo entre 0 e 101, com incremento em 2
for i in range(0,101,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [9]:
# Strings também são sequências
for caracter in 'Python é uma linguagem de programação divertida!':
    print(caracter)

P
y
t
h
o
n

é

u
m
a

l
i
n
g
u
a
g
e
m

d
e

p
r
o
g
r
a
m
a
ç
ã
o

d
i
v
e
r
t
i
d
a
!

## Loops Aninhados

In [14]:
# Loops aninhados
for i in range(0,5):
    print(i)
    print("dentro do i")
    for a in range(0,5):
        print(a)

0
dentro do i
0
1
2
3
4
1
dentro do i
0
1
2
3
4
2
dentro do i
0
1
2
3
4
3
dentro do i
0
1
2
3
4
4
dentro do i
0
1
2
3
4

In [17]:
# Operando os valores de uma lista com loop for
listaB = [32,53,85,10,15,17,19]
soma = 0
for i in listaB:
    double_i = i * 2
    soma += double_i
    print(soma)    

print(soma)

64
170
340
360
390
424
462
462

In [18]:
# Loops em lista de lista
listas = [[1,2,3],[10,15,14],[10.1,8.7,2.3]]
for valor in listas:
    print(valor)

[1, 2, 3]
[10, 15, 14]
[10.1, 8.7, 2.3]

In [20]:
# Contando os itens de uma lista
lista = [5,6,10,13,17]
count = 0
for item in lista:
    count += 1
    print(item)

print(count)

5
6
10
13
17
5

In [24]:
# Contando o número de colunas
lst = [[1,2,3],[3,4,5],[5,6,7]]
primeira_linha = lst[0]
count = 0
for column in primeira_linha:
    count = count +1
    print(column)
    
print(count)

1
2
3
3

In [22]:
# Pesquisando em listas
listaC = [5, 6, 7, 10, 50]

# Loop através da lista
for item in listaC:
    if item == 5:
        print("Número encontrado na lista!")

Número encontrado na lista!

In [25]:
# Listando as chaves de um dicionário
dict = {'k1':'Python', 'k2': 'R', 'k3': 'Scala'}
for item in dict:
    print(item)

k1
k2
k3

In [26]:
# Imprimindo cahve e valor do dicionário. Usando o método items() para retornar os itensde um dicionário
for k,v in dict.items():
    print(k, v)

k1 Python
k2 R
k3 Scala

# Fim

# Loop While

## While

In [27]:
# Usando o loop whil para imprimir os valores  de 0 a 9
counter = 0 
while counter < 10:
    print(counter)
    counter = counter + 1

0
1
2
3
4
5
6
7
8
9

In [28]:
# Também é  possível usar a clausula else para encerrar o loop while
x = 0

while x < 10:
    print('O valor de x nesta iteração é: ', x)
    print(' x ainda é menor que 10 somando 1 a x')
    x += 1

else:
    print ('Loop concluído!')

O valor de x nesta iteração é:  0
 x ainda é menor que 10 somando 1 a x
O valor de x nesta iteração é:  1
 x ainda é menor que 10 somando 1 a x
O valor de x nesta iteração é:  2
 x ainda é menor que 10 somando 1 a x
O valor de x nesta iteração é:  3
 x ainda é menor que 10 somando 1 a x
O valor de x nesta iteração é:  4
 x ainda é menor que 10 somando 1 a x
O valor de x nesta iteração é:  5
 x ainda é menor que 10 somando 1 a x
O valor de x nesta iteração é:  6
 x ainda é menor que 10 somando 1 a x
O valor de x nesta iteração é:  7
 x ainda é menor que 10 somando 1 a x
O valor de x nesta iteração é:  8
 x ainda é menor que 10 somando 1 a x
O valor de x nesta iteração é:  9
 x ainda é menor que 10 somando 1 a x
Loop concluído!

In [1]:
# usando o loop while para imprimir os valores de 0 a 9
counter = 0
while counter < 10:
    print(counter)
    counter = counter +1

0
1
2
3
4
5
6
7
8
9

In [3]:
# Também é possível usar a claúsula els para encerrar o loop while
x = 0

while x < 10:
    print ('O valor de x nestaiteração é:', x)
    print(' x ainda é menor que 10, somando 1 a x')
    x += 1
    
else:
    print('Loop concluído!')

O valor de x nestaiteração é: 0
 x ainda é menor que 10, somando 1 a x
O valor de x nestaiteração é: 1
 x ainda é menor que 10, somando 1 a x
O valor de x nestaiteração é: 2
 x ainda é menor que 10, somando 1 a x
O valor de x nestaiteração é: 3
 x ainda é menor que 10, somando 1 a x
O valor de x nestaiteração é: 4
 x ainda é menor que 10, somando 1 a x
O valor de x nestaiteração é: 5
 x ainda é menor que 10, somando 1 a x
O valor de x nestaiteração é: 6
 x ainda é menor que 10, somando 1 a x
O valor de x nestaiteração é: 7
 x ainda é menor que 10, somando 1 a x
O valor de x nestaiteração é: 8
 x ainda é menor que 10, somando 1 a x
O valor de x nestaiteração é: 9
 x ainda é menor que 10, somando 1 a x
Loop concluído!

## Pass, Break , Continue

In [4]:
counter = 0
while counter < 100:
    if counter == 4:
        break
    else:
        pass
    print(counter)
    counter = counter +1

0
1
2
3

In [5]:
for verificador in 'Python':
    if verificador == "h":
        continue
    print(verificador)

P
y
t
o
n

## While e For Juntos

In [6]:
for i in range(2,30):
    j = 2
    counter = 0
    while j < i:
        if i % j == 0:
            counter = 1
            j = j + 1
        else:
            j = j + 1
    
    if counter == 0:
        print(str(i) + " é um número primo")
        counter= 0
    else:
        counter = 0

2 é um número primo
3 é um número primo
5 é um número primo
7 é um número primo
11 é um número primo
13 é um número primo
17 é um número primo
19 é um número primo
23 é um número primo
29 é um número primo

# Fim

# Range

In [7]:
# Imprimindo números pares entre 50 e 101
for i in range(50, 101, 2):
    print(i)

50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [8]:
for i in range(3, 6):
    print(i)

3
4
5

In [9]:
for i in range(0, -20, -2):
    print(i)

0
-2
-4
-6
-8
-10
-12
-14
-16
-18

In [10]:
lista = ['Morango', 'Banana', 'Abacaxi','Uva']
lista_tamanho = len(lista)
for i in range(0, lista_tamanho):
    print(lista[i])

Morango
Banana
Abacaxi
Uva

In [11]:
# Tudo em Python é um objeto
type(range(0,3))

range

# Fim

# Exercícios - Loops e Condicionais

In [13]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Lingaguem Python Usada Neste Jupyter Notebook: ', python_version())

Versão da Lingaguem Python Usada Neste Jupyter Notebook:  3.8.8

## Exercícios - Loops e Condicionais - Solução

In [22]:
# Exercício 1 - Crie uma estrutura que pergunte ao usuário qual o dia da semana. Se o dia for igual a Domingo ou 
# igual a sábado, imprima na tela "Hoje é dia de descanso", caso contrário imprima na tela "Você precisa trabalhar!"

dia = input('Digite o dia da semana: ')
if dia == 'Domingo' or dia == 'Sábado':
    print("Hojé é dia de descanço")
else:
    print("Você precisa trabalhar!")

Digite o dia da semana: sábado
Você precisa trabalhar!

In [23]:
# Exercício 2 - Crie uma lista de 5 frutas e verifique se a fruta 'Morango' faz parte da lista
lista = ['Laranja','Maça', 'Abacaxi', 'Uva','Morango']
for fruta in lista:
    if fruta == 'Morango':
        print("Morango faz parte da lista de frutas")
lista.count("Morango")

Morango faz parte da lista de frutas

1

In [26]:
# Exercício 3 - Crie uma tupla de 4 elementos, multiplique cada elemento da tupla por 2 e guarde os resultados em uma 
# lista
tup1 = (1, 2, 3, 4)
lst1 = []
for i in tup1:
    novo_valor = i * 2
    lst1.append(novo_valor)
print(lst1)

[2, 4, 6, 8]

In [31]:
# Exercício 4 - Crie uma sequência de números pares entre 100 e 150 e imprima na tela
for i in range(100, 151, 2):
    if i % 2 == 0:
        print('Número é par:', i)

Número é par: 100
Número é par: 102
Número é par: 104
Número é par: 106
Número é par: 108
Número é par: 110
Número é par: 112
Número é par: 114
Número é par: 116
Número é par: 118
Número é par: 120
Número é par: 122
Número é par: 124
Número é par: 126
Número é par: 128
Número é par: 130
Número é par: 132
Número é par: 134
Número é par: 136
Número é par: 138
Número é par: 140
Número é par: 142
Número é par: 144
Número é par: 146
Número é par: 148
Número é par: 150

In [32]:
# Exercício 5 - Crie uma variável chamada temperatura e atribua o valor 40. Enquanto temperatura for maior que 35, 
# imprima as temperaturas na tela
temperatura = 40
while temperatura > 35:
    print('A Temperadura é de: ', temperatura)
    temperatura = temperatura - 1

A Temperadura é de:  40
A Temperadura é de:  39
A Temperadura é de:  38
A Temperadura é de:  37
A Temperadura é de:  36

In [ ]:
# Exercício 6 - Crie uma variável chamada contador = 0. Enquanto counter for menor que 100, imprima os valores na tela,
# mas quando for encontrado o valor 23, interrompa a execução do programa