# Acessando Banco de Dados com Python

In [1]:
# Remove o arquivo com o banco de ddos SQLite (Caso exista)
import os
os.remove("escola.db") if os.path.exists("escola.db") else None

In [2]:
# Importando o módulo de acesso ao SQLite
import sqlite3

In [3]:
# Cria uma conexão com o banco de dados.
# Se o banco de dados não existir, ele é criado neste momento.
con = sqlite3.connect('escolha.db')

In [4]:
type(con)

sqlite3.Connection

In [5]:
# Criando um cursor
# (Um cursor permite percorrer todos os registros em um conjunto de dados)
cur = con.cursor()

In [6]:
type(cur)

sqlite3.Cursor

In [9]:
# Cria uma instrução sql
sql_create = 'create table cursos '\
'(id integer primary key, '\
'titulo varchar(100), '\
'categoria varchar(140))'

In [10]:
# Executando a instrução sql no cursor
cur.execute(sql_create)

In [14]:
# Criando outra setença SQL para Insrir registros
sql_insert = 'insert into cursos values (?, ?, ?)'

In [15]:
# Dados
recset = [(1000, 'Ciência de Dados',  'Data Science'),
          (1001, 'Big Data Fundamentos',  'Big Data'),
          (1002, 'Python Fundamentos',  'Análise de Dados')]

In [16]:
# Inserindo os registros
for rec in recset:
    cur.execute(sql_insert, rec)

In [17]:
# Grava a transação
con.commit()

In [18]:
# Criando outra sentença SQL para selecionar  registros
sql_select = 'select * from cursos'

In [20]:
# Seleciona todos os registros e recupera os registros
cur.execute(sql_select)
dados = cur.fetchall()

In [21]:
# Mostrar
for linha in dados:
    print('Curso Id: %d, Título: %s, Categoria: %s  \n' % linha)

Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

In [22]:
# Gerando outros registros
recset = [(1003, 'Gestao de Dados com MongoDB','Big Data'),
          (1004, 'R Fundamentos', 'Análise de Dados')]

# Inserindo os registros
for rec in recset:
    cur.execute(sql_insert, rec)

In [23]:
# Gravando a transação
con.commit()

In [24]:
# Seleciona todos os registros
cur.execute('select * from cursos')

# Recupera os resultados
recset = cur.fetchall()

# Mostra
for rec in recset:
    print('Curso Id: %d, Título: %s, Categoria: %s  \n' % rec)

Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

Curso Id: 1003, Título: Gestao de Dados com MongoDB, Categoria: Big Data

Curso Id: 1004, Título: R Fundamentos, Categoria: Análise de Dados

In [25]:
# Fecha a conexão
con.close()

# Fim